body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.iframe {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.app {
  overflow-x: hidden;
  height: 100vh;
  background-color: #e8f1fe;
}
@media only screen and (max-width: 600px) {
  .app {
    background-color: white;
  }
}
